.column {
    float: left;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 24%;
}

#centerize {text-align:center;}