#page-container {
    height: 100vh;
}

#content-container-background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ac/UMass_Amherst_W.E.B._Dubois_Library_night_2.jpg");
    background-size: cover;
}